name: ContinuousIntegration

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.7]
        os: ['ubuntu-latest', 'macos-latest']
      fail-fast: false

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install flake8 black coverage

#    - name: Run tests
#      run: |
#        coverage run -m unittest discover -v test

    - uses: paambaati/codeclimate-action@v2.5.2
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CodeClimate }}
      with:
        coverageCommand: coverage run -m unittest discover -v test && coverage xml
        debug: true

    - name: Code formatting (black)
      run: |
        black --check peaksql/ test/

    - name: Code formatting (flake8)
      run: |
        flake8 peaksql/ test/
